{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/pages/profile.css')}}" />
{% endblock %}

{% block content %}

<section class="videos">
  <header>
    <h1 class="section-title">
      Hi, {{current_user.username}}! Here are  your favourite videos.
    </h1>     
  </header>
  <div class="wrapper">
    <div class="cards">
      <!-- DB: use return render_template('browse.html', videos=val) -->
      <!-- DB: FETCH LIST OF VIDEOS TO DISPLAY, type: list of arrays -->
      <!-- each array should details for 1 video -->
      {% for item in saved_videos %}
      <a class="card" href="/watch/{{item.video_id}}">
        <div class="card-content">
          <div class="top">
            <!-- DB: DURATION OF VIDEO  -->
            <h3 class="name">{{item.video.length}}mins</h3>
            <!-- DB: VIDEO OWNER -->
            <div class="date"><span>{{item.video.channel}}</span></div>
          </div>
          <div class="bottom">
            <!-- DB: DISPLAY POSE NAME  -->
            <h2>{{item.video.name}}</h2>
            <div class="bookmark">
              <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 24 24"
                class="bookmark-icn">
                <path
                  d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                </path>
              </svg>
            </div>
          </div>
        </div>
        <div class="card-bg">
          <!-- DB: THUMBNAIL SHOULD SHOW CLEAR POSE PICTURE -->
          <img class="bg-img" src="{{ item.video.thumbnail }}" />
        </div>
        <div class="shadow">
          <!-- DB: THE SAME THUMBNAIL HERE FOR SHADOW EFFECTS  -->
          <img class="shadow-img" src="{{ item.video.thumbnail }}" />
        </div>
      </a>
      {% endfor %}
    </div>
  </section>
</section>



{% endblock %}